#wrapper {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: 32px;
    line-height: 1.25;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-container {
    max-width: 60vw;
    width: 100%;
    box-sizing: border-box;
    padding: 5rem 3rem;
    border: 4px solid #f26535;
    text-shadow: 1px 5px #f2653525;
}

@media only screen and (max-width: 1024px) {
    #wrapper {
        font-size: 24px;
        line-height: 1.25;
    }

    .inner-container {
        max-width: 95%;
        margin: 0 auto;
        padding: 3rem 1rem;
        border: 2px solid #f26535;
    }
}
